<footer class="footer mt-auto py-2 h-card border-top">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
    <div class="row">
      <div class="col">
        <ul class="list-inline">
          {%- if site.author %}
          {% if site.author.name -%}
          <li class="list-inline-item">{{ site.author.name | escape }}</li>
          {% endif -%}
          {%- endif %}
          <li class="list-inline-item">
            <a class=" " href="{{ 'feed.xml' | relative_url }}">
              <i class="bi bi-rss-fill"></i>
              <span>RSS Feed</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>