<footer class="footer mt-auto py-2 h-card border-top">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {%- if site.author %}
        <ul class="contact-list list-unstyled">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
        <p class="feed-subscribe mb-0">
          <a class=" " href="{{ 'feed.xml' | relative_url }}">
            <i class="bi bi-rss-fill"></i>
            <span>RSS Feed</span>
          </a>
        </p>
      </div>
      <div class="col">
        <!-- <p class=" mb-0">{{ site.description | escape }}</p> -->
      </div>
    </div>
<!--    {%- if site.bootstrap.social_links -%}-->
<!--    <div class="row py-3">-->
<!--      <div class="col">-->
<!--        {%- include social.html -%}-->
<!--      </div>-->
<!--    </div>-->
<!--    {%- endif -%}-->
  </div>
</footer>
