@import "./monokai.css";

.homepage {
  margin-top: 60px;


  h1 {
    color: #2b8d2b;
  }

  h2 {
    font-size: 1.5rem;
  }
}

#navbarSupportedContent {
  .nav-item {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

.post-meta {
  font-size: 0.9rem;
}

a {
  color: #2b8d2b;

  :hover, :active, :focus {
    color: #459845 !important;

  }
}

h6 {
  font-size: 1rem !important;
}


.highlight {
  font-size: 18px;

  pre {
    //background-color: #272822;
    padding-top: 5px;
  }

  .gutter.gl {
    padding: 10px;
    color: white;
  }
}

#toc.list-unstyled {
  a {
    text-decoration: none;
    color: #222;
  }
}
.post-list {
  .h6{
    display: inline;
    margin-left: 10px;
  }
  .bi{
    font-size: 0.8rem;
  }
  .list-group-item{
    padding: 0.2rem 1rem;

  }
}
