// @import "./monokai.css";
@import "./friendly.css";
@import "./github-markdown-css.css";
html, body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

copre, code, kbd, sampde{
  font-size: 1rem !important;
  font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

.btn{
  border-radius: 0 !important;
}

a {
  color: #2b8d2b;
  :hover, :active, :focus {
    color: rgb(28, 67, 28) !important;
  }
}

.typewriter {
  // https://css-tricks.com/snippets/css/typewriter-effect/
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #333; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #333; }
}

// .homepage {
//   margin-top: 60px;
//   h1 {
//     color: #2b8d2b;
//   }
//   h2 {
//     font-size: 1.5rem;
//   }
// }

// #navbarSupportedContent {
//   .nav-item {
//     padding-right: 0.5rem !important;
//     padding-left: 0.5rem !important;
//   }
// }

// .post-meta {
//   font-size: 0.9rem;
// }

// h6 {
//   font-size: 1rem !important;
// }

// .highlight {
//   font-size: 16px;
//   pre {
//     //background-color: #272822;
//     padding-top: 5px;
//     code{
//         font-size: 0.9rem !important;
//     }
//   }
//   .gutter.gl {
//     padding: 10px;
//     // color: white;
//   }
// }

#toc.list-unstyled {
  a {
    text-decoration: none;
    color: #222;
    font-size: 13px;
  }
}
.post-list {
  .h6{
    display: inline;
    margin-left: 10px;
  }
  .bi{
    font-size: 0.8rem;
  }
  .list-group-item{
    padding: 0.2rem 1rem;

  }
}

