[data-bs-theme=dark] {
    body {
        --bs-link-color: #9d76f9;
        --bs-link-color-rgb: 157, 118, 249;
        --bs-link-hover-color: #533696;
        --bs-link-hover-color-rgb: 83, 54, 150;
        --bs-code-color: #efefef;
    }
}

[data-bs-theme=light] {
    body {
        --bs-link-color: #8a5cf6;
        --bs-link-color-rgb: 139, 92, 246;
        --bs-link-decoration: underline;
        --bs-link-hover-color: #533696;
        --bs-link-hover-color-rgb: 83, 54, 150;
    }
}