---
layout: default-with-sidebar
---

<div class="row">
    <div class="col-md-12">
        {%- if page.title -%}
        <h1 class="page-heading pt-4 ">{{ page.title }}</h1>
        <p>Posts can be research notes <i class="bi bi-journal"></i>  or
            thoughts <i class="bi bi-lightbulb"></i> </p>
        <hr>
        {%- endif -%}
    
        {{ content }}




        <!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
  <span class="date">{{ post.date }}</span>
</p>
<div class="content">
  {{ post.content }}
</div>
{% endfor %}
    
        {% if site.paginate %}
        {% assign posts = paginator.posts %}
        {% else %}
        {% assign posts = site.posts %}
        {% endif %}
    
  
        

        {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list list-unstyled">
            {%- for post in posts -%}
            {% include post-list-item.html %}
            {%- endfor -%}
        </ul>
    
     
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ '/' | relative_url }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
    
        {%- endif -%}
    
    </div>
</div>
