---
layout: default-with-sidebar
---

<div class="row">
    <div class="col-md-12">
        {%- if page.title -%}
        <h1 class="page-heading pt-4 ">{{ page.title }}</h1>
        <p>Posts can be research notes <i class="bi bi-journal"></i>  or
            thoughts <i class="bi bi-lightbulb"></i> </p>
        <hr>
        {%- endif -%}
    
        {{ content }}
    
        {% if site.paginate %}
        {% assign posts = paginator.posts %}
        {% else %}
        {% assign posts = site.posts %}
        {% endif %}
    
    
        {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list list-unstyled">
            {%- for post in posts -%}
            {% include post-list-item.html %}
            {%- endfor -%}
        </ul>
    
        {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
                {%- if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                    paginator.previous_page }}</a></li>
                {%- else %}
                <li>
                    <div class="pager-edge">•</div>
                </li>
                {%- endif %}
                <li>
                    <div class="current-page">{{ paginator.page }}</div>
                </li>
                {%- if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
                </li>
                {%- else %}
                <li>
                    <div class="pager-edge">•</div>
                </li>
                {%- endif %}
            </ul>
        </div>
        {%- endif %}
    
        {%- endif -%}
    
    </div>
</div>
